#add_products{

    margin-top: 50px;
    width: 40%;
    margin: auto;
    text-align: center;
}
#admin_div{
    margin-top: 155px;
}
#form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    gap: 20px;
}

#add_products>button{
    margin-top: 20px;
    padding: 7px 25px;
}

#form>input,#form>select{
    height: 30px;
}

table{
    width: 65%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

table>thead>tr{
    border: 1px solid black;
font-size: 25px;
margin-bottom: 36px;
}

tbody{
    font-size: 18px;
    margin-top: 10px;
}
table{
    width: 70%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  thead{
    height: 50px;
    font-size: 21px;
    background-color: #ffbf06;
  }
  tbody{
    /* height: 30px; */
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    line-height: 50px;
   
  }
 