#add_products{
    width: 85%;
    text-align: center;
    display: flex;
    border: 1px solid;
    gap: 30px;
    height: 30px;
    justify-content: space-around;
}

#admin_div{
    margin-top: 130px;

}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 210px;
    padding: 8px;
  border: 1px solid;
}

.item>img{
    width: 200px;
    height: 200px;
}

#added{
    width: 96%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
    gap: 20px;
    column-gap: 35px;
    margin-top: 40px;
}

.name_dev{
    width: 40%;
    /* border: 1px solid; */
}

.name_dev+div>button{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    border: 1px solid;
    padding: 6px 25px;
}

.name_dev+div>div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.name_dev+div{
    text-align: center;
}
.name_dev+div>div>button{
    height: 25px;
}

.name_dev+div>div>input{
    /* width: 80px; */
    height: 25px;
}

body{
    margin-right: 15px;
}