
#container{
    display: flex;
    margin-top: 160px;
}
#filter{
 flex: 2;
 border: 1px solid;
}


#cards{
    flex: 8;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}

.item{
    padding: 20px;
    height: 340px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

.item>img{
    width: 75%;
    height: 60%;
    margin-left: 38px;
    /* padding: 5px 10px; */

}
.name{
    height: 55px;
    /* margin-bottom: 0px; */
}
.offers{
    margin-top: 0px;
    color: green;
    border-radius: 7px;
    border:  1px solid green;
    margin-bottom: 5px;
}

.item:hover{
    color: red;
   border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
