
#container{
    display: flex;
}
#filter{
 flex: 2;
 border: 1px solid;
}


#cards{
    flex: 8;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}

.item{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.item>img{
    width: 55%;
    height: 55%;
    margin-left: 42px;
    padding: 5px 10px;

}
.name{
    height: 38px;
    overflow: hidden;
    /* margin-bottom: 0px; */
}
.quantity{
    margin: 5px;
}
.offers{
    margin-top: 0px;
    color: green;
    border-radius: 7px;
    border:  1px solid green;
}

.item:hover{
    color: red;
}
