body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    padding:0;
}
::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-thumb{
    background-color:#888;
    border-radius:8px;
}
::-webkit-scrollbar-track{
    background-color:#f1f1f1;
}

#allnavbar{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin-top: 80px;
  height: 10%;
  background-color: #e42529;
  padding-left: 50px;
  padding-right: 50px;
}
#Navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#e42529;
    position: -webkit-sticky;
}
#Logo{
    width:5%;
    margin-top:5px;
    height: 80px;
    margin-bottom: 10px;
    display: flex;
}
#Logo>#logo_text{
  margin: auto;
  margin-left: 20px;
  font-size: 30px;
  font-family:  Helvetica,Arial, sans-serif;
  font-weight: 900;
  color: floralwhite;
}

#Logo>img{
    border-radius:50%;
    height: 70%;
    width: 70%;
    margin-top: 18px;
  }
img{
    width:100%;
}
#Search-Bar{
    background-color:white;
    border-radius:32px;
    padding:10px 10px;
    width:500px;
    height:auto;
    display:flex;
}
#Search-Input{
    border:none;
    width:100%;
    font-weight:500;
    font-size:16px;
    line-height:19px;
    margin-left:10px;
    border:none;
    outline:none;
}
#Search-Icon{
    border:none;
    padding:0 20px 0 40px;
    background-color:white;
}
#CartLogin{
    width:15%;
    font-weight:500;
    color:white;
    height:45px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-right:150px;
}
#Cart-Count{
    margin-left:-8px;
    right:-5px;
    position:relative;
    top:-10px;
    background-color:blue;
    color:white;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    font-size:15px;
    height:21px;
    min-width:21px;
    line-height:1;
    border-radius:21px;
    letter-spacing:0px;
}
#Category-Panel{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#003380;
    color:white;
    font-size:12px;
    font-weight:500;
    padding:10px;
    position: fixed;
    margin-top: 82px;
    width: 100%;
    
}
#Empty-Cart{
    width:15%;
    margin:auto;
    margin-top:50px;
}
#Empty-Cart+p{
    font-size:20px;
    text-align:center;
}
#Continue-Shopping{
    text-align:center;
}
#Continue-Shopping-Button{
    padding:15px 30px;
    border:none;
    background-color:#e42529;
    color:white;
    text-transform:uppercase;
    font-weight:600;
    border-radius:5px;
}
a{
    text-decoration: none;
    color: white;
}
#Checkout{
    display:flex;
    width:95%;
    gap:20px;
    margin:auto;
}
#Cart-Products{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    gap:20px;
    margin:auto;
    flex:6;
}
#Checkout-Section{
    flex:3;
    margin-right:50px;
}
#Cart-Products>div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-weight:500;
    border:1px solid grey;
}
.Imagediv{
    width:20%;
}
.Remove{
    width:100%;
    border:1px solid grey;
    color:#1774ef;
    font-weight:600;
    width:90%;
    height:40px;
    margin-bottom:20px;
}
#Checkout-Button{
    text-align:center;
    text-decoration:none;
    display:inline-block;
    padding:0px 12px;
    outline:none;
    cursor:pointer;
    font-family:inherit;
    line-height:34px;
    letter-spacing:inherit;
    text-transform:uppercase;
    font-weight:600;
    font-size:13px;
    border-radius:3px;
    float:none;
    color:rgb(255, 255, 255);
    background-color:rgb(228, 37, 41);
    border:1px solid rgb(228, 37, 41);
    width:100%;
}
#Price-Details{
    border:1px solid grey;
    border-radius:3px;
    padding:20px;
}
#Price,#Delivery-Charges,#Amount-Payable{
    display:flex;
    justify-content:space-between;
}
#Price>p{
    font-size:13px;
}
#Price>p+p{
    font-weight:600;
}
#Delivery-Charges>p+p{
    text-transform:uppercase;
    color:#43a047;
    font-size: 13px;
    font-weight: 600;
}
#Price-Details>p,#Amount-Payable>p{
    text-transform:uppercase;
    font-weight:600;
    font-size:14px;
    color:#333;
}
#Amount-Payable>p+p{
    color:#003380;
}