#addvertise{
    width: 100%;

}

#addvertise>img{
    width: 100%;
    /* position:static; */
}
#info{
    text-align: center;
    color: #003380;
    margin-top: 20px;
}
#info>h2{
    margin-bottom: 15px;
}
#info>div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

}
#card-4>div>p{
    /* line-height: 0px; */
    font-size: 14px;
    /* margin-bottom: 15px; */
}
#card-4>div>h3{

}
#card-4>div{
    border: 1px solid gray;
    border-radius: 9px;
    background-color: #f7f7f7;
    padding: 5px 0px;
    height: 90px;
}
#card-4{
    width: 95%;
    margin: auto;
}
#card-4>div>img{
     height: 30px;
     width: 20%;
}

#container-1>div,#container-2>div,#container-3>div{
    display: flex;
    width: 98%;
    height: 320px;
    margin: auto;
    /* border: 1px solid black; */
    /* padding: 9px 0px; */
}

#iphone,#watches,#other{
    flex: 9;
    display: flex;
    gap: 15px;
    justify-content: space-around;
    height: 95%;
   
}
#container-1>div>img,#container-2>div>img,#container-3>div>img{
    flex: 1;
    width: 350px;
}

#iphone>div>img,#watches>div>img,#other>div>img{
    width: 75%;
    height: 75%;
    margin-left: 42px;
    padding: 5px 10px;
}
#container-1,#container-2,#container-3{
    border: 1px solid gray;
    margin-top: 40px;
    /* padding: 0px 40px; */
    height: 440px;
border-left: none;
border-right: none;
border-width: 100%;
}
#iphone>div,#watches>div,#other>div{
    /* border: 1px solid red; */
    width: 250px;
    padding-left: 10px;
    line-height: 22px;
    
}
.name{
    color: #17468b;
    font-weight: bold;
    height: 75px;
    /* margin-bottom: 0px; */
}
.offers{
    margin-top: 0px;
    color: green;
    border-radius: 7px;
    border:  1px solid green;
}

#container-1>p,#container-2>p,#container-3>p{
    font-size: 23px;
    color: black;
    font-weight: lighter;
    margin-left: 20px;
}

#container-1>p>span,#container-2>p>span,#container-3>p>span{
    font-size: 16px;
    color: #003380;
    font-weight: bold;
}
#container-1>p>span:hover,#container-2>p>span:hover,#container-3>p>span:hover{
    color: red;
    cursor: pointer;
}

.name:hover,.name:hover,.name:hover{
   color: red;
   /* border-left: 1px solid; */
   /* border-right: 1px solid; */
}